@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <script src="~/Scripts/jquery-1.6.4.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="/signalr/hubs"></script>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            var chat = $.connection.myhub1;
            chat.client.clientmethod = function (name, speed) {
                alert(name);
                var encodedName = $('<div />').text(name).html();
                var encodedSpeed = $('<div />').text(speed).html();
                $('.speed').val(encodedSpeed);
                $('#discussion').append('<li><strong>' + encodedName
                    + '</strong>:&nbsp;&nbsp;' + encodedSpeed + '</li>');
            }

            $.connection.hub.start().done(function () {
                //  alert(carname + speed);
                chat.server.hello(name, speed);
            });
        });
    </script>

    <div>
        <input type="text" id="message" />
        <input type="hidden" id="displayname" />
        <ul id="discussion"></ul>
    </div>
</body>
</html>
